RewriteEngine On
RewriteBase /

# Handle subdomain requests (with or without www)
RewriteCond %{HTTP_HOST} ^(www\.)?(renewalportal|support|hub)\.niftysolutions\.co\.in$ [NC]
RewriteRule ^ - [L]

# Allow direct access ONLY to public/ folder and its contents (if still needed)
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^ - [L]

# Funnel all other requests to index.php
RewriteRule ^ index.php [L,QSA]

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
</IfModule>

# Comment out the below lines during developement, or else you will have to clear your browser cache every time you make changes to CSS or JS files
 <IfModule mod_expires.c>
   ExpiresActive On
   ExpiresByType image/jpg "access 1 month"
   ExpiresByType image/jpeg "access 1 month"
   ExpiresByType image/webp "access 1 month"
   ExpiresByType image/gif "access 1 month"
   ExpiresByType image/png "access 1 month"
   ExpiresByType text/css "access 1 month"
   ExpiresByType application/javascript "access 1 month"
   ExpiresByType application/x-javascript "access 1 month"

   # Font files
    ExpiresByType font/ttf "access 1 year"
    ExpiresByType font/otf "access 1 year"
    ExpiresByType font/woff "access 1 year"
    ExpiresByType font/woff2 "access 1 year"
    ExpiresByType application/x-font-ttf "access 1 year"


   ExpiresDefault "access 2 days"
 </IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php83” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php83___lsphp .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
