:root{
  --base-color: #c57a13 !important; /* Base color for the theme */
}

.btn-gradient-black-gray {
    background-image: linear-gradient(to right, #000000, #9d9d9d, #000000);
    background-size: 200% auto;
    color: var(--white);
}

@media (min-width: 992px) {
  .text-lg-light {
    color: var(--bs-light) !important; /* or use var(--bs-light) */
  }
}

header.sticky.sticky-active [data-header-hover=light] .company-text{
  color: var(--dark-gray) !important;
}

video{
  max-width: 100%;
}

.btn.btn-rounded.btn-extra-large {
    padding: 0px 0px;
}

header .navbar-brand img {
    max-height: 38px;
}

@media (max-width: 600px) {
  footer .footer-logo img {
    max-height: 40px;
  }
}